html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-family:'Muli', sans-serif;*/
    font-family: 'Muli', sans-serif;
    background-image: linear-gradient(white 30%, rgb(136, 133, 133));
}

.about-info {
    font-size: 18px;
}
.jumbotron {
    background-color: rgb(255, 255, 255);
    max-height: 110%; 
}

a {
    color: black;
}

.vid-con {
    max-width: 800px;
    
}

.sigLine {
    text-align: right;
    padding-top: 25px; 
}

.img {
    width: 800px;
    height: 500px;
}

.img-caption {
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 25px;
}

.logo {
    height: 100px;
    width: 100px;
}

.navBtn {
    position: relative;
    align-items: right;
    margin-left: 70%;
}

.danceCat {
    max-width: 100%;
    max-height: 330px;
    z-index: 0;
    margin-top: 10px;
}

.content {
    position: relative; 
}

.content div {
    position: absolute;
    width: 100%;
    max-height: 50%;
    bottom: 0;
    top: 0;
    background: black;
    color: white;
    font-family: 'Muli', sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
   
.content:hover {
    cursor: pointer;
}
   
.content:hover div {
    font-size: medium;
    width: 100%;
    padding: 2px;
    visibility: visible;
    opacity: 0.7; 
    text-align: center;
}

.modal {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.modal-content {
    background-color: transparent;
    border: 0 none;
}

.modal-close {
    color: white;
    font-size: 20px;
}
  
.nav-link {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

.imgPrev:hover {
  opacity: 1;
}

content:hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.486);
    overflow-x: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(230, 228, 228);
    display: inline-block;
    transition: 0.3s;
}

.cat-overlay {
    position: relative;
    width: 100%;
    background-color: rgb(66, 66, 66);
}

.img-prev {
    opacity: 1;
    vertical-align: top;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cat-overlay:hover .img-prev {
    opacity: 0.3;
    cursor: pointer;
}

.cat-overlay:hover .middle {
    opacity: 1;  
    cursor: pointer; 
}

.text {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 14px;
}

.ticketBtn {
    background-color: rgb(51, 51, 51);
    color: white;
}

.eventCard {
    background-color: rgb(105, 105, 105);
    color: white;
}

.gal-vid {
    background-color: rgb(90, 89, 89);  
}

.vid-prev {
    border-radius: 50px;
}

#vidCar {
    max-width: 450px;
    z-index: 0;
}

.prevBtn {
    filter: invert(100%);
}

.gal-card {
    background-color: grey;
    color: white;
}

.contact-info {
    text-align: center;
}

.info-links {
    font-size: large;
}

.donate-card {
    align-items: center;
    background-color: grey;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.intro {
    box-shadow: 5px 5px 8px #888888;
}

.emailAdd {
    color: white;
}